<div class="total-position-row">
  <div class="p-stock-name">
    <%= position.stock.name %>
  </div>
  <div class="p-stock-symbol">
    <%= position.stock.symbol %>
  </div>
  <div class="p-stock-purchase">
    <%= position.purchase_price %>
  </div>
  <div class="p-stock-current">
    <%= position.stock.current_price %>
  </div>
  <div class="p-stock-profit-loss">
    <%= position.profit_loss %>
  </div>
</div>
