<div>
  <div>
    <%= position.stock.name %>
  </div>
  <div>
    <%= position.stock.symbol %>
  </div>
  <div>
    <%= position.purchase_price %>
  </div>
  <div>
    <%= position.stock.current_price %>
  </div>
  <div>
    <%= position.profit_loss %>
  </div>
</div>
