<h1>Create New Position</h1>

<%= form_with model: @position, url: portfolio_positions_path do |f| %>

  <% if @position.errors.any? %>
    You have <%= pluralize(@position.errors.count, 'error') %>
    <%= @position.errors.full_messages.each do |message|%>
      <%= message %>
    <% end %>
  <% end %>

  <p>
    <%= f.label :owned_shares %><br>
    <%= f.text_field :owned_shares %>
  </p>
  <p>
    <%= f.label :purchase_price %><br>
    <%= f.text_field :purchase_price %>
  </p>
    <%= f.fields_for :stock do |sf| %>
    <p>
      <%= f.label :stock_name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :stock_symbol %><br>
      <%= f.text_field :symbol %>
    </p>
    <% end %>
  <p>
    <%= f.submit "Add Position" %>
  </p>

<% end %>
