<div id="portfolio-index-title"><h1>Portfolio Index</h1></div>

<div id="portfolio-link"> <%= link_to("New Portfolio", new_portfolio_path) %><br> </div>

<% if @portfolios %>
	<% @portfolios.each do |portfolio| %>
	<div class="individual-portfolio">
		<p class="portfolio-text"><%= link_to(portfolio.portfolio_name, portfolio_path(portfolio)) %>

		<span id="portfolio-numbers" class=<%=portfolio.css_green_or_red%>>
  <%=number_to_currency(portfolio.total_pnl)%>
  (<%=number_to_percentage(portfolio.percent_change, precision: 2)%>)</span>

      <button class="delete-portfolio" id=<%= portfolio.id%>> Delete Portfolio</button>
		</p>
	</div>
	<% end %>
<% end %>
