g<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioTracker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag "markscript" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "navbar" %>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
