<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioTracker</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "navbar" %>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
